.about {
	padding-top: 169px;
	padding-bottom: 52px;
	@media (max-width: 768px) {
		padding: 50px 0;
	}
	&__body {
	}

	&__head {
	}

	&__content {
	}

	&__list {
		display: flex;
		//gap: 93px;
		@media (max-width: 1024px) {
			flex-wrap: wrap;
		}
		@media (max-width: 768px) {
			justify-content: center;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-right: 93px;
			@media (max-width: 768px) {
				margin-right: 0;
			}
		}
		&:nth-child(2) {
			padding-top: 287px;
			@media (max-width: 1024px) {
				padding-top: 140px;
			}
			@media (max-width: 768px) {
				padding-top: 0;
			}
		}
		&:nth-child(3) {
			padding-top: 54px;
			@media (max-width: 1024px) {
				padding-top: 0;
				margin-top: -140px;
			}
			@media (max-width: 768px) {
				margin-top: 0;
			}
		}
	}
}
.about-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 52px;
	@media (max-width: 1024px) {
		flex-direction: column;
		align-items: flex-start;
	}
	@media (max-width: 768px) {
		margin-bottom: 0px;
	}
	&__heading {
		max-width: 584px;
		margin-right: 30px;
	}

	&__title {
		margin-bottom: -3px;
	}

	&__subtitle {
	}
	&__descr {
		padding-top: 58px;
		max-width: 671px;
		@media (max-width: 1024px) {
			padding-top: 30px;
		}
	}

	&__text {
		font-weight: 500;
		line-height: 150%;
	}
}
.about-item {
	flex: 0 1 33.333%;
	@media (max-width: 768px) {
		flex: 0 1 80%;
	}
	&__title {
		padding-top: 135px;
		font-family: "Georgia", serif;
		font-weight: 700;
		font-size: 30px;
		line-height: 150%;
		text-align: center;
		color: #000000;
		position: relative;
		& + * {
			margin-top: 35px;
			@media (max-width: 768px) {
				margin-top: 15px;
			}
		}

		&::before {
			content: attr(data-number);
			position: absolute;
			top: 0;
			left: 0;
			font-family: "Georgia", serif;
			font-weight: 400;
			font-size: 150px;
			line-height: 150%;
			text-align: center;
			color: rgba(1, 153, 109, 0.2);
		}
	}

	&__descr {
		& + * {
			margin-top: 60px;
			@media (max-width: 768px) {
				margin-top: 30px;
			}
		}
	}

	&__text {
		font-weight: 500;
		line-height: 150%;
	}

	&__image {
		position: relative;
		padding-bottom: calc(492 / 390 * 100%);
		border-radius: 8px;
		overflow: hidden;
	}
}
