.first {
	position: relative;
	padding: 175px 0;
	min-height: calc(100vh - $header-hight);
	&__body {
	}
	&__content {
		max-width: 440px;
	}
	&__title {
		font-family: "Georgia", serif;
		font-weight: 700;
		font-size: 65px;
		line-height: calc(74 / 65 * 100%);
		color: #01996d;
		& + * {
			margin-top: 30px;
		}
	}

	&__text {
		max-width: 420px;
		line-height: calc(31 / 20 * 100%);
		color: #484848;
		& + * {
			margin-top: 53px;
		}
	}

	&__paragraph {
	}

	&__btn-block {
		display: flex;
	}

	&__btn {
	}

	&__bg-image {
		background-color: rgb(243, 226, 205);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}
